header {
	padding: 20px;
	font-size: 100%;
	position: relative;
	overflow: auto;


}

nav {
	float: right;
	display: inline-block;
	position: relative;
}

span {
	margin-right: 15px;
	color: #666;
	margin-bottom: 20px;
	position: relative;
}

main {
	clear: both;
}

input {
	border-style: none;
	width: 540px;
	line-height: 40px;
	font-size: 120%;
	position: relative;
	bottom: 7px;
	margin-left: 10px;
	outline: none;
	color: #666;
	display: inline-block;
}

footer {
	position: fixed;
	background-color: #eee;
	width: 100%;
	padding: 15px;
	bottom: 0px;
	border-top-style: solid;
	border-width: 1px;
	border-color: #ddd;
}

a {
	font-size: 90%;
	text-decoration: none;
	padding: 10px;
}

a:visited {
	color: #666;
}

a:link {
	color: #666;
}

button {
	background-color: #eee;
	border-style: none;
	padding: 12px;
	color: #666;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.navLinks {
	position: relative;
	bottom: 12px;
}

.topSpacer {
	height: 200px;
}

.logoRow {

}

.searchRow {

}

.searchWrapper {
	border-width: 1px;
	width: 600px;
	overflow: auto;
	margin: auto;
	margin-top: 20px;
	box-shadow: 0px 0px 5px #aaa;
	position: relative;
}

.buttonRow {

}

.button {

}

.buttonRight {
	float: right;
}


.buttonWrap {
	margin: auto;
	padding: 30px;
	width: 265px;
}

.bottomSpacer {

}

.leftFooter {

}

.rightFooter {
	position: absolute;
	right: 35px;
}

#logo {
	margin: auto;
	display: block;
}

#mic {
	display: inline-block;
	margin-top: 12px;
}